%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[ {eCloudEdit, []},

  {ece_web, [{webmachine_ip, any},
             {webmachine_port, "8080"}]},

  {ece_db, [{server, "beerenthusiasts.cloudant.com"},
            {port, 80},
            {database, "ecloudedit"}]}
].
